{
  "presets": [
    ["@babel/preset-env", {
      "modules": "umd",
      "targets": {
        "browsers": ["last 2 versions", "safari >= 7"]
      }
    }]
  ],
  "plugins": [
    [
      "@babel/plugin-proposal-class-properties",
      {
        "loose": true
      }
    ],
    "add-module-exports"
  ]
}